.image {

  border-radius: 100%;
  border-color: rgba(255, 102, 153, .4);
  margin: 8px;
  opacity: 0.8;
  border-style: inset;
  border-width: 20px;

}

.image:hover {

  opacity: 1;

}


.button {
  border: 2px;
  border-radius: 30% ;
  font-size: 1.2em;
  font-family: Helvetica ;
  background: rgba(102, 153, 204, .5)
}

#wall {
 
  width: 1300px;
  margin: auto;
}